.document-list {
  display: block;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  padding: 20px;

  .list-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0px;
    width: 100%;
    height: auto;
    color: #000;

    &:nth-child(even) {
      background-color: #d6eeee;
    }

    &:nth-child(odd) {
      background-color: #f1f2f3;
    }

    &__name {
      flex: 1;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      margin-left: 8px;
    }

    &__container {
      display: flex;

      span {
        width: 70px;
        text-align: center;
      }

      button {
        margin-left: 8px;
      }
    }
  }
}
