.custom-file-input {
  text-align: center;
  background: #4f4f4f;
  border-top: 5px solid #c39f77;
  padding: 20px 0;
  border-radius: 6px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;

  &__disabled {
    opacity: 0.6;
    cursor: not-allowed !important;
  }

  label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
  }

  &__files {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}
